infra/state_machines/email_pipeline.asl.json
{
  "Comment": "Email processing pipeline: parse, extract attachments if present, then init ledger.",
  "StartAt": "ParseEmail",
  "States": {
    "ParseEmail": {
      "Type": "Task",
      "Resource": "${parse_email_lambda_arn}",
      "ResultPath": "$.parse_result",
      "Next": "HasAttachments"
    },
    "HasAttachments": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.parse_result.attachments",
          "IsPresent": true,
          "Next": "ExtractAttachments"
        }
      ],
      "Default": "InitLedger"
    },
    "ExtractAttachments": {
      "Type": "Task",
      "Resource": "${extract_attachments_lambda_arn}",
      "ResultPath": "$.extract_result",
      "Next": "InitLedger"
    },
    "InitLedger": {
      "Type": "Task",
      "Resource": "${init_ledger_lambda_arn}",
      "ResultPath": "$.ledger_result",
      "End": true
    }
  }
}

