infra/terraform/email_pipeline.asl.json
{
  "Comment": "Email pipeline: init ledger, resolve recipients, parse, classify, scan, aggregate.",
  "StartAt": "InitLedger",
  "States": {
    "InitLedger": {
      "Type": "Task",
      "Resource": "${init_ledger_lambda_arn}",
      "ResultPath": "$.ledger_result",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 2,
          "BackoffRate": 2.0,
          "MaxAttempts": 3
        }
      ],
      "Next": "ResolveRecipients"
    },
    "ResolveRecipients": {
      "Type": "Task",
      "Resource": "${resolve_recipients_lambda_arn}",
      "ResultPath": "$",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 2,
          "BackoffRate": 2.0,
          "MaxAttempts": 3
        }
      ],
      "Next": "ParseEmail"
    },
    "ParseEmail": {
      "Type": "Task",
      "Resource": "${parse_email_lambda_arn}",
      "ResultPath": "$",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 2,
          "BackoffRate": 2.0,
          "MaxAttempts": 3
        }
      ],
      "Next": "PhishingML"
    },
    "PhishingML": {
      "Type": "Task",
      "Resource": "${phishing_ml_lambda_arn}",
      "ResultPath": "$",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 2,
          "BackoffRate": 2.0,
          "MaxAttempts": 3
        }
      ],
      "Next": "AttachmentScan"
    },
    "AttachmentScan": {
      "Type": "Task",
      "Resource": "${attachment_scan_lambda_arn}",
      "ResultPath": "$",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 2,
          "BackoffRate": 2.0,
          "MaxAttempts": 3
        }
      ],
      "Next": "AggregateVerdicts"
    },
    "AggregateVerdicts": {
      "Type": "Task",
      "Resource": "${aggregate_verdicts_lambda_arn}",
      "ResultPath": "$",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 2,
          "BackoffRate": 2.0,
          "MaxAttempts": 3
        }
      ],
      "Next": "ProcessingComplete"
    },
    "ProcessingComplete": {
      "Type": "Succeed"
    }
  }
}
